.btn-theme {
    background-color: #75BF7A;
   
   
    border-radius: 5px;
    opacity: 0px;
    color: white;
    font-weight: normal;
    border: azure;

}

.second{
    background-color: #75BF7A;
}
@media (min-width: 299px;) and (max-width: 561px)
    .car{
        width: 100%;
        

    }
